<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
 </startup>
 <appSettings>
  <add key="SyncFolder" value="C:\tmp" />
  <add key="RemoteServer" value="net.tcp://localhost:3021" />
  <add key="Mask" value="(.txt)" />
 </appSettings>
 <system.serviceModel>
  <bindings>
   <netTcpBinding>
    <binding name="NewBinding0" transferMode="Streamed" transactionFlow="false" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="79623599" maxBufferSize="4967295" maxConnections="10" maxReceivedMessageSize="78623599">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="79623599" maxBytesPerRead="4096" maxNameTableCharCount="79623599" />
     <reliableSession ordered="true" enabled="false" />
     <security mode="None">
      <transport clientCredentialType="None" />
     </security>
    </binding>
   </netTcpBinding>
  </bindings>
  <client>
   <endpoint address="net.tcp://localhost:3021/SyncFolder" binding="netTcpBinding"
    bindingConfiguration="NewBinding0" contract="PolyusTestApp.Models.IReceiver"
    name="NetTcpBinding_IReceiver" />
  </client>
 </system.serviceModel>
</configuration>